.AdList h2, p, li {
    text-align: center; 
    margin: 5% 0;
}

.AdList h2 {
    font-size: 36px;
}

.AdList p {
    padding: 0 5%;
}


.AdListMain {
    border: 3px solid #fffee6;
    width: 20%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5%;
    width: 70%;
    min-height: 30vh;
}


@media all and (min-width: 800px) {
    .AdListMain {
        width: 50%;
    }

    .AdList p {
        font-size: 20px;
    }
}

@media all and (min-width: 800px) {
    .AdListMain {
        width: 35%;
    }
}