@import url('https://fonts.googleapis.com/css?family=Handlee');

.intro {
    padding: 0 3%;
    font-weight: bold;
    font-family: 'Handlee', cursive;
    color: #fffee6;
    text-shadow: 2px 2px 8px #204759;
    text-align: center;
}

.ViewListings {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 5%;
    border: 3px solid #fffee6;
    width: 90%;
    padding: 20px 5px;
}

.ViewListings p {
    margin: 3% 0;
}

.ViewListings li {
    margin: 5px 0;
}

a {
    color: #fffdd0;
    font-weight: bold;
}

.NewAd {
    border: 3px solid #fffee6;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 20px 5px;
}

.NewAd p {
    margin-top: 5%;
    text-align: center;
    text-shadow: 2px 2px 8px #204759;
}

.NewAd h2 span {
    text-decoration: underline;
}

@media all and (min-width: 650px) {
    .ViewListings, .NewAd {
        width: 60%;
    }
    
}

@media all and (min-width: 1000px) {
    .intro {
        margin-bottom: 7px;
        margin: 2%;
        font-size: 20px;
    }
}

@media all and (min-width: 1150px) {
    .OptionsWrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .OptionsWrapper section {
        height: 15rem;
        width: 30%;
    }

    .NewAd {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .NewAd a {
        width: 30%;
        height: 30%;
    }

    .NewAd p {
        font-size: 16px;
    }
    
}





