@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
}

main {
    color: #fffdd0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


.App {
    background-image: 
    linear-gradient(
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.2)
      ),
        url("./Images/sky.JPG");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.9;
    overflow: auto;
    min-height: 100vh;
    color: #ffffff;
    text-shadow: 2px 2px 8px #204759;
}


